<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="fileName">dns-nacos.log</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="DNS_PATH" fileName="${sys:user.home}/logs/dns-nacos/${fileName}"
                          filePattern="${sys:user.home}/logs/dns-nacos/${fileName}.%d{yyyy-MM-dd}.%i">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%-5t:%c{2}] %m%n"/>

            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>

        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="DNS_PATH"/>
        </Root>
    </Loggers>
</Configuration>